*.pyc
*.npz
/experiment/*
/postprocess/*
/.idea/*
/data/*
outs/
cut_result/
outs_origin/
__pycache__/
*.obj
*.ply
*.pth
*.log
*.png
*.xyz
test.blend
test.blend1
*.blend
build/*
dist/*
*.txt
*.avi
*.mp4
*.tar